:root{
    --maincolor:#fbf8fa;
    --darkblack:#2d2f31;
    --darkgrey:#61666b;
    --grey:#d5d5d5;
    --lightgrey:#f2f2f2;
    --yellow:#fecb40;
    --red:#df113c;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family:" Noto sans Jp",sans-serif;
}

body{
    width:100%;
    height:auto;
    color: var(--darkblack);
}

p{
    font-size: 14px;
}

.label-cart{
    position: fixed;
    top: 15;
    right: 10;
    z-index: 4;
    cursor: pointer;
}

.logos{
    position: fixed;
    background-color: var(--darkblack);
    color: var(--lightgrey);
    width: 100%;
    /* text-align: center; */
    padding: 15px 20px 10px 20px;
    top: 0;
    z-index: 2;
    /* display: flex; */
    gap: 3rem;
    /* padding: 0.3rem 1rem; */
    overflow-x: auto;
    display: flex;
    justify-content: space-evenly;
}

.logo{
    /* border: 2px solid red; */
    text-align: center;
    margin-right: 1rem;
    margin-right: 1rem;
    /* margin: top 0rem;  */
    /* padding-bottom: 0rem; */
    /* padding-top: 0rem; */
    width: 100%;
}

.logo2{
    width: 40px;
    height: 40px;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background-color: var(--maincolor);
    z-index: 1;
    padding-top:70px;
}

.sidebar-menu{
    width: 100%;
    text-align: center;
    padding: 10px 5px;
    color: var(--darkgrey);
}

.sidebar-menu > a {
    text-decoration: none;
    font-size: 0.7rem;
    line-height: 1.5;
    color: var(--darkgrey);
}

.sidebar-menu:hover{
    border-right: 2px solid var(--yellow);
    color: var(--yellow);
}

.sidebar-menu:hover > a{
    color: var(--yellow);
}

.dashboard{
    height: 100%;
    width: 100%;
    padding-right:50px;
    padding-left: 60px;
}

.dashboard-banner{
    width: 100%;
    height: 300px;
    position: relative;
    margin-top: 4rem;
    padding: 1rem;
    border-radius: 30px;
    cursor: pointer;
}

.dashboard-banner > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.banner-promo{
    position: absolute;
    color: var(--lightgrey);
    top: 25%;
    left: 30%;
}

.banner-promo > h1 span {
    color: var(--yellow);
}

.dashboard-title{
 padding: 1rem 1rem;
}

.dashboard-menu{
    display: flex;
    gap: 10px;
    padding: 0.3rem 1rem;
    overflow-x: auto;
}

.dashboard-menu > a{
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    min-width: 150px;
    padding: 0.5rem 0;
    font-size: 0.9rem;
    color: var(--darkblack);
    background-color: var(--lightgrey);
}

.dashboard-menu > a:hover{
    background-color: var(--red);
    color: var(--lightgrey);
}

.dashboard-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr)) ;
    gap: 20px;
    padding: 0.5rem 1rem 1rem 1rem;
}

.dashboard-card{
    background-color: var(--maincolor);
    box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

.dashboard-card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-image{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
}

.card-detail{
    padding: 10px;
}

.card-detail > h4 > span{
    float: rigth;
}

.card-time{
    color: var(--darkgrey);
    font-size: 0.8rem;
    padding-top: 10px;
}





.copy{
    position: absolute;
    background-color: var(--darkblack);
    color: var(--lightgrey);
    width: 100%;
    text-align: center;
    padding: 5px 10px 5px 10px;
}


/* swt page */

.boarder{
    
    margin-left: 4rem;
}

.msg{
    margin-top: 4rem;
    margin-left: 4rem;
    margin-bottom: 1rem;
}

.any{
    padding-bottom: 2rem;
}

.box{
    text-align: center;
}

.msgbox{
    padding: 3rem;
    color:#2d2f31;
    border-color:#df113c;
}

.field{
    padding: 2rem;
}

.button{
    padding: 1rem;
}
.submit:hover{
    color:#df113c;
}
.reset:hover{
    color:#df113c;
}

.address{
    margin-top: 1rem;
    margin-left: 4rem;
    margin-bottom: 3rem;
}





@media screen and (max-width:680px)
{
    .dashboard{
        padding-right:0 ;
    }
}